Package: pr4.o
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 16
Maintainer: MdIssN01 <d.motin.02@gmail.com>
Description: Programm 4 from Lecture 3
